@media (max-width:1150px)
{
    .nav_menu{
        justify-content: flex-end;
        /* flex-direction: row-reverse; */
        gap: 20px;
    }
    .hamburger_menu{
        display: block;
        order: 2;
    }
    .hamburger_menu svg{
        fill: white;
        height: 30px;
        width: 30px;
        font-weight: 700;
        
    }
    .mega_menu{
        display: none;
        
       
    }

    .hero{
       /* height: 100vh; */
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 20vh;
        
    }
   
  


   
}



@media screen and (max-width:700px){
    .hero_vedio_small{
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.hero_vedio_large{
  display: none;
}
.nav_search_container{
    display: none;
}
.galaxy_s25{
    font-size: 10vw;
}
.galaxy_ai img{
    width: 80vw;
}
.learn_more_button , .buy_button
{
    font-size: 14px;
}
nav{
    gap: 0px;
}
.nav_logo{
    width: 100px;
}
.nav_menu{
    gap: 10px;
}
.nav_third_div{
  gap: 10px;
}
.hero_s25_image_large_container{
    display: none;
}
.hero_s25_image_small_container img{
    display: block;
    
}
.card{
     width: 95vw;
    margin: auto;

}
.card_container{
   
    gap: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    
}
.card_item{
    flex-shrink: 0;
    width: 80vw;
    scroll-snap-align: start;
}
.card_heading{
    font-size: 6vw;
}
.ai_tv_small_vedio{
    display: block;
     width: 100%;
  object-fit: cover;
  object-position: center center;
}
.ai_tv_large_vedio{
    display: none;
}
.ai_tv_text{
    flex-direction: column;
    margin-top: 16vw;
}
.ai_tv_heading{
    font-size: 40px;
    width: 260px;

}
.ai_tv_p{
    font-size: 20px;
    width: 260px;
}
.ai_tv_learn_more_container{
    width: 260px;
}
}