/* SamsungOne Regular */
@font-face {
  font-family: "SamsungOne";
  src: url("./assets/fonts/SamsungOne-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* SamsungOne Bold */
@font-face {
  font-family: "SamsungOne";
  src: url("./assets/fonts/SamsungOne-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Samsung Sharp Sans Regular */
@font-face {
  font-family: "SamsungSharpSans";
  src: url("./assets/fonts/samsungsharpsans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Samsung Sharp Sans Bold */
@font-face {
  font-family: "SamsungSharpSans";
  src: url("./assets/fonts/samsungsharpsans-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Samsung Sharp Sans Medium */
@font-face {
  font-family: "SamsungSharpSans";
  src: url("./assets/fonts/samsungsharpsans-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-family: "SamsungOne";
    /* border:1px solid red; */
}  
body{
  /* background-color: black; */
}
/* styling for navbar */
.hero_vedio{
  height: 100vh;
  /* width: calc(100vw - (--scrollbar-width)); */
  width: 100%;
  /* max-width: 2000px; */
  margin: auto;
  position: absolute;
  z-index: -1;

  /* border:1px solid red; */

}
.hero_vedio_large {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}
.hero_vedio_small{
  display: none;
}

header{
position: relative;
}

nav{
  max-width: 2000px;
  height: 100px;
  width: 90vw;
  margin: auto;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  color: white;
  gap: 30px;
}
.nav_logo svg {
  fill: white;
}

 .mega_menu_container, .nav_third_div{
  display: flex;
  justify-content: center;
  align-items: center;

}
.mega_menu_container{
  font-weight: 700;
  gap: 20px;
}
.hamburger_menu{
  display: none;
}
.nav_menu{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  /* gap: auto; */
}
.nav_third_div{
  gap: 20px;
}
.nav_third_div svg{
  fill: white;
  height: 24px;
  width: 24px;


}
.nav_search_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 180px;
  /* border: 1px solid red; */
  gap: 8px;
  border-radius: 50px;
      background-color: rgba(255, 255, 255, 0.197);
    border-color: rgba(255, 255, 255, 0.214);
  padding:10px 20px;
}
.nav_search_container svg{
  height: 16px;
  width: 16px;
}












/* styling for hero_section */
.hero{
  width: 90vw;
  max-width: 2000px;
  margin: auto;
  height: calc(100vh - 100px);
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.hero_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


}
.galaxy_s25{
  font-size: 60px;
  font-family: "SamsungSharpSans";
  font-weight: 700;
}

.learn_more_section{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  /* margin-left: 150px; */
}
.learn_more_button{
  position: relative;
}
.learn_more_button::after{
  content: '';
  position:absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  border-radius: 50px;
  background-color: #fff;
  transition: 0.3s;

}
.learn_more_button:hover::after{
  width: 100%;
}
.buy_button{
  border: 1px solid white;
  border-radius: 20px;
  padding:9px 23px;
}
.buy_button:hover{
  color: black;
  background-color: #fff;
 
}




/* hero s25 */
.hero_s25{
 width: 95vw;
 max-width: 2000px;
 margin: 20px auto;
   
}
.hero_s25_image_large_container img{
  display: block;
  width: 100%;
  margin: auto;
  height: auto;
  object-fit: cover;
  object-position: center center;
  

}
.hero_s25_image_small_container img{
  display: none;

  width: 100%;
    height: auto;
  object-fit: cover;
  object-position: center center;
}


/* styling for card */
.card{
  width: 95vw;
  margin: 20px auto;
  max-width: 2000px;
  /* display: none; */

}
.card_container{
  display: flex;
  align-items: center;
  justify-content: space-between;



}
.card_item{
   
  width: 24%;
  position: relative;
  
} 
.card_image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  
}
.card_heading{
  position: absolute;
  width: 100%;
  top: 15px;
  text-align: center;
  font-size: clamp(12px,1.67vw,24px);
  font-family: 'SamsungSharpSans';
  font-weight: 700; 
}


/* ai tv styling */
.ai_tv{
  width: 95vw;
  margin: auto;
  max-width: 2000px;
  position: relative;
}
.ai_tv_large_vedio{
  width: 100%;
  object-fit: cover;
  object-position: center center
}
.ai_tv_text{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* justify-content: flex-start; */

}
.ai_tv_text_container{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ai_tv_heading{
  font-size: clamp(40px,3.8vw,90px);
  font-family: 'SamsungSharpSans';
  font-weight: 700;
  text-align: center;
}
.ai_tv_p{
  font-size:clamp(20px,2vw,45px);
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}
.ai_tv_learn_more_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.ai_tv_learn_more_button{
font-size: 14px;
position: relative;
}
.ai_tv_learn_more_button::after{
  content: '';
  position:absolute;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -3px;
  border-radius: 50px;
  background-color: #000000;
  transition: 0.3s;

}
.ai_tv_learn_more_button:hover::after{
  width: 100%;
}
.ai_tv_viewall_button{
  font-size: 14px;
   border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding:5px 13px;
}
.ai_tv_viewall_button:hover{
  color: white;
  background-color: black;
}
.ai_tv_small_vedio{
  display: none;
}